*{
    margin: 0;
    padding: 0;
}

.heading{
    height: 50px;
    width: 100%;
    background-color: #091057;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.8rem;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 50px;
}
.choice{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    background-color: black;
    cursor: pointer;
}
img{
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 50%;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
    margin-top: 50px;
}

#user-score,#computer-score{
    font-size: 4rem;
    margin-left: 20px;
}

.msg-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    margin-top: 40px;
}

#msg{
    background-color: black;
    color: #fff;
    font-size: 1.7rem;
    padding: .7rem;
    border-radius: 10px;
}